.App {
  text-align: center;
  background: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.login {
  text-align: center;
  overflow-y: scroll;
  overflow-x: scroll;
  min-height: 150px;
  max-width: 100%;
}

form {
  border: 3px solid #f1f1f1;
  background-color: #86b5eb;
  width: 40%;
  display: inline-block;
  background-color: #0336719f;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0336719f;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  cursor: pointer;
  width: 30%;
  border: 2px solid #030303;
}

button:hover {
  opacity: 0.8;
}

.error {
  color: red;
}

.user-display {
  overflow-y: scroll;
  overflow-x: scroll;
  min-height: 150px;
  max-width: 100%;
  text-align: center;
}

.character-display {
  overflow-x: scroll;
  overflow-y: scroll;
  min-height: 250px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.enemy-display {
  min-height: 250px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  width: 350px;
  border: 3px solid #030303;
  border-radius: 20px;
  background-color: #8d0101ee;
}

.enemy-display:hover {
  transform: translate3D(0,-1px,0) scale(1.06);
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
}

.enemy-display:active {
  background-color: yellow;
}

.enemy-banner {
  text-align: center;
}


.character-card {
  width: 350px;
  border: 2px solid #030303;
  border-radius: 20px;
  text-align: center;
  background-color: #0336719f;
  display: inline-block;
}


.character-img {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
}

.character-form {
  width: 350px;
}

input[type=number]{
  width: 30px;
}

label{
  display: inline-block;
  clear: left;
  width: 250px;
  text-align: left;
  padding-left: 50px;
  text-align: center;
  border-radius: 20px;
}

.battle-btn {
  background-color: #8d0101ee;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  border: 2px solid #030303;
}

.enemy-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 3rem;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white
}

p {
  color: white;
}

.form-title {
  color: white;
}

.attribute-title {
  color: white;
}

.points {
  color: white;
}

.enemy-battle {
  text-align: center;
  width: 350px;
  border: 2px solid #030303;
  border-radius: 20px;
  background-color: #8d0101ee;
}

.opponent {
  color: red
}

.dropdown {
  color: white;
  background-color: blue;
  padding: 4px 4px;
  border: none;
  cursor: pointer;
}

label {
  text-align: center;
  color: white;
}

.character-battle {
  width: 350px;
  border: 2px solid #030303;
  border-radius: 20px;
  text-align: center;
  background-color: #0336719f;
}

.battle-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 3rem;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}

.vs-banner {
  position: relative;
}

.vs {
  color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 45%;
  margin: -25px 0 0 -25px;
}

.fight-banner {
  display: contents;
}

.fight {
  color: white;
  width: 350px;
  height: 200px;
  position: absolute;
  top:3%;
  left: 42%;
  margin: -25px 0 0 -25px;
}

.enemy-health {
  margin-left: 940px;
  margin-top: -1px;
}

.your-health {
  margin-top: 40px;
  margin-left: 150px;
}

.battle-form {
  margin-top: 20px;
  margin-bottom: 40px;
}

.battle-form-container {
  display: block;
}

.battle {
  text-align: center;
  overflow-y: scroll;
  overflow-x: scroll;
  min-height: 150px;
  max-width: 100%;
}

.win {
  color: aqua;
}

.your-damage {
  color: aqua;
}